<footer>

    <div class="footer">
      <h3><span class="footer_first_letters">M</span>athematical <span class="footer_first_letters">M</span>odeling for <span class="footer_first_letters">I</span>mmunology</h3>
      <ul class="socials">
        <li><ion-icon name="mail-outline" ></ion-icon> elloquse@biosoft.ru</li>
        <li><ion-icon name="location-outline"></ion-icon> Россия, Новосибирск</li>
        <li><a href="https://gitlab.sirius-web.org/immunology/immunology.pages.sirius-web.org" target="_blank"><ion-icon name="logo-gitlab"></ion-icon> Проект GitLab</a></li>
      </ul>
    </div>
  

  </footer>
