<header class="site-header">

    <div class="container">
    
      <div class="flexbox-container">
  
        <a href="/"><img src="/css/Logo5.png" alt="Logo" class="logo" width="550px" height="550px"></a>
  
        <h1><a href="/"><span class="title">M</span>athematical<br> <span class="title">M</span>odeling for<br> <span class="title">I</span>mmunology</a></h1>
        
      </div>
     
      <nav class="nav_menu">
        <ul class="nav_menu_titles">
          <li>
            <a href="/about.html" class="nav_main_link"><button type="button" class="menu_button">О проекте</button></a>
          </li>
          <li>
            <a href="/model-selection.html" class="nav_main_link"><button class="menu_button">Модели</button></a>
          </li>
          <li>
            <a href="/data-selection.html" class="nav_main_link"><button class="menu_button">Экспериментальные данные</button></a>
          </li>
          <li class="dropdown" onmouseover="dropDownMenu()" onmouseout="dropDownMenu()">
            <button class="dropdown_main_button" >Мероприятия</button>
            <div class="blank_space_dropdown"></div>
            <div class="dropdown_content">
              <a href="/online-meetings.html" class="dropdown_link">Семинары</a>
              <a href="/conferences.html" class="dropdown_link">Конференции</a>
              <a href="/schools.html" class="dropdown_link">Школы</a>
            </div>
          </li>    
        </ul>
      </nav>
    
  
    </div>
    <hr class="header_line">

    <script src="/scripts/JS/includes/dropdownMenu.js"></script>
  </header>
